:root{
    --body-color: linear-gradient(90deg, hsl(0, 0%, 10%) 0%, hsl(0, 0%, 0%) 100%);
    --container-color: linear-gradient(136deg, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 80%) 100%);
    --font-color: #8b8787;
    ;
}



*{  padding: 0;
    margin: 0;
    box-sizing: border-box;

}
@font-face {
    font-family: 'nightmare';
    src: url('./Nightmare Before Christmas.ttf') format('truetype');
}

@font-face {
    font-family: 'bloodlust';
    src: url('./bloodlust.ttf') format('truetype');
}
 
body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;

}

/*-----------navegacion--------------*/

header{
    width: 100%; 
    background-image: var(--body-color);
    min-height:7rem;
    margin: 0 auto;
    padding: 21px 0 0 0;
    position: fixed;
    z-index: 100;

    

}


.container-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 87.5rem;
    margin: 0 auto;
    z-index: 99;

}






.container__img{
    display: flex;

}



.container-img--logo{
    width: 14em;
    padding: 0 40px;
    z-index: 3;


}

.nav-link{
    list-style: none;
}


.container-menu{
    display: flex;
    margin-right: 40px;
    align-items: center;
    
}

.container-nav__item{
    width: max-content;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 4rem 0 0 ;
    z-index: 5;

}
.container-nav__a{
    color: rgba(255, 255, 255, 0.879);
    text-decoration: none;


}
.container-nav__a:hover{
    color: #ff5003;

}


.content-btn{
    z-index: 8;

}


.btn-contacto{
    text-decoration: none;

    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    padding: .2em .625rem .1em .625rem ;
    color: #ff5003;

    border: 2px #ff5003 dashed;
    border-radius: 30px;
    z-index: 15;

}

.btn-contacto:hover{
    background-color:  rgba(255, 255, 255, 0.879);
}
.nav-toggle{
    background: none;
    border: none;
    font-size: 2.25em;
    padding: 0 1.25em;
    line-height: 3.75rem;
    
    display: none;

    cursor: pointer;
    z-index: 25;

}

.tela{
    
    position: absolute;
    top: 0 ;
    right:0;
    z-index: 1;

}

/*---------------main---------------*/










.main-container{
    background: var(--body-color);
    width: 100%;
    height: 100%;

}


/*-------------section 1-------------*/

.content-section-one{
    
    overflow:hidden ;
    padding: 100px 0 0 0;


}
.content-section-one__slider{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    position: relative;

}
.content-slide{
    width: 100%;
    height: 700px;
    display: flex;
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: center;
}
.slider-img{

    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    
}

.content-slide p{
    position: absolute;
    color: white;
    font-size: 22px;
    top: 50%;
    bottom: 0;
    text-align: center;
    font-family: 'nightmare';
    font-size: 3em;
    line-height: 60px;

}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.434); /* Color semi-transparente */
}

/*-------------section 2-------------*/



.content-section-two{
    padding: 30px 0 10px 0; 
    display: flex;
    justify-content: center;
}
.content-section-two__img-murcielago{
    width: 20em;

}




/*-------------section 3-------------*/

.content-section-three{
    background: var(--body-color);
    width: 100%;
    height: 10rem;
}

/*texto intermediario*/

.content-section-three__text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    background: var(--body-color);
    outline: black 2px solid;
    margin: 0 auto;
}


.content-section-three__text p{
    font-size: 2.5em;
    color: #ff5003;

    font-family: 'nightmare';

}





/* 
.content-section-three{

} */










/* ------ section four------*/

.content-section-four{
    width: 100%;
    height: 100rem;
    background-color: green;
}




/* ------ section five------*/


.content-section-five{
    background: var(--body-color);
    width: 100%;
    height: 45rem;
    padding: 4rem 0;

    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);

}
.content-section-five__container{
    margin: 0 50px;
}


  /******title ******/

.content-section-five__title{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);

}

.content-section-five__content-img{
    display: flex;
    justify-content: center;
}
.content-section-five__img-murcielago{
    width: 20em;

}

  /******menu ******/

.content-section-five__menu{
    display: flex;
    justify-content: center;
}
.content-section-five__menu li{
    color: rgb(255, 255, 255);

    list-style-type: none;
    padding: 0 0 0 1rem;

}

  /******cards ******/
.content-section-five__container-card{

    width: 100%;    

    
}
.container-card-list{ 
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    font-family: 'Poppins', sans-serif;
    color: white;
}
.content-card-individual{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-card-individual{
    box-sizing: border-box;
    margin: 0 3rem 0 0;

}
.content-card{

    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 270px;
    border-radius: 30px  30px 30px 30px;
    background-color: rgba(2, 2, 2, 0.785);
    box-shadow: 15px 15px 30px rgb(25, 25, 25),-15px -15px 30px rgb(60, 60, 60);
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

}


.img-producto-gato{

    border-radius: 30px 30px 0 0;
    margin: 0 0 20px 0;
    width: 100%; 
}
.img-tela{
    position: absolute;
    width: 60%;
    top:0;
}
.content-price{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color:#8b8787;
    position: absolute; 
    bottom: -9rem;
    color: #000000;

}


.content-card:hover .content-price{
    /* Desplazar el elemento hacia arriba usando la propiedad transform */
    box-shadow: 0 -5px 10px rgba(0,0,0,0.3);

    margin: 0 0 80px 0;
    transition: all 0.5s;
}

.btn-add-to-cart{
    appearance: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 2rem 31% ;
    width: 150px;
    height: 50px;
    color: #ffff;
    font-size: 20px;
    background-color: #333333;
}
.btn-add-to-cart:hover{
    background-color: #ff5003;
    transition: all 0.8s;
}


.content-card .title ,.price{
    
    padding: 0 20px;
}

.content-card .price{
}











/* ------ section six------*/










.content-section-six{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--body-color);
    width: 100%;
    height: 40rem;
    position: relative;

}
.content-section-six__img-murcielago{
    width: 20em;
}



/* .content-slide div{

    
} */

/* .content-section-six__calabaza{

    width: 30em;
    opacity: 0.8;
    animation: float 3s ease-in-out infinite;

}


@keyframes float {
    0% {
      transform: translateY(0) scaleX(-1);
    }
    50% {
      transform: translateY(-20px) scaleX(-1);
    }
    100% {
      transform: translateY(0) scaleX(-1);
    }
}
   */

.content-slide-six__text{
    color: #ff5003;
    text-align: center;
    width: 50%;
}
.content-slide-six__text span{
    font-size: 1.8em;
    font-family: "nightmare";
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    animation: blink 1s infinite;



}
.content-slide-six__text  span:nth-child(1) {
    animation: flicker 2s linear infinite;
}

.content-slide-six__text  span:nth-child(3) {
    animation: flicker 3s linear infinite;
}
.content-slide-six__text  span:nth-child(6) {
    animation: flicker 2s linear infinite;
}
.content-slide-six__text  span:nth-child(9) {
    animation: flicker 3s linear infinite;
}
.content-slide-six__text  span:nth-child(12) {
    animation: flicker 2s linear infinite;
}

@keyframes flicker {
    0% {
    opacity: 0.2;
    }
    20% {
    opacity: 1;
    }
    40% {
    opacity: 0.2;
    }
    60% {
    opacity: 1;
    }
    80% {
    opacity: 0.2;
    }
    100% {
    opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
    80% {
        opacity: 1;
    }
    60% {
        opacity: 0.2;
    }
    40% {
        opacity: 1;
    }
    20% {
        opacity: 0.2;
    }
    10% {
        opacity: 1;
    }
}









.content-section-six__img-nieblas{
    position: absolute;
    width: 100%;
    filter: blur(5px);


    bottom: 0;
}


/*-------section seven--------*/

.content-section-seven{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffff;
}




/*-------section eight-------*/


.content-section-eight{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 35rem;
    background-color: var(--body-color);
}
.content-contact1{
    padding: 2rem 4rem;

}
.content-contact1__img-ghost{

    width: 30em;
    opacity: 0.8;
    animation: float 3s ease-in-out infinite;

}


@keyframes float {
    0% {
      transform: translateY(0) scaleX(-1);
    }
    50% {
      transform: translateY(-20px) scaleX(-1);
    }
    100% {
      transform: translateY(0) scaleX(-1);
    }
}















.container-contact{
    display: flex;
    justify-content: end;
    width: 100%;
}


.content-contact2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: var(--body-color);
    
}

.content-contact2 div{
    margin: 30px 10px 0 10px;
    color: #ffff;

}
.fa-solid{
    border-radius: 20px;
    padding: 8px;
    margin: 0 10px 0 0;
    border: 2px solid black;
    color: #8b8787 ;
    
}
.fa-solid:hover{
    background-color: #ff5003;
    color: #000000;
}



.content-contact3{
    background-color: var(--body-color);
    padding: 2rem 4rem;

}



.content-contact3 form{
    display: flex;
    flex-direction: column;
    color: #ffff;
    margin: 0 0 2rem 0;
}
.content-contact3 input{

    border-radius: 10px;
    width: 20rem;
    height: 2rem;
    padding: 0 0 0 10px;
    background-color: #333333;

    
}
.content-contact3 input:hover{

    transition: all 0.5s;
    background-color: #00000012;

}
.content-contact3 #sutmit{
    padding: 0;
    width: 7rem;
    background-color: #ff5003;
    cursor: pointer;
}
.content-contact3 #sutmit:hover{
    background-color: #000000;
    color: #ffff;

}




.content-contact3--contenido{
    
}

/*-----footer-----*/

.footer-container{
    padding: 5rem 0;
    display: flex;
    justify-content: space-around;
    height: 100%;
    background-color:#131313;
}
.footer-container h1{
    color: #ffffff;
}

.footer-container__menu{
    
}
.footer-container__menu a{
    text-decoration: none;
    color: var(--font-color);

}


.footer-container__menu li{
    margin: 10px 0 0 0;
    list-style: none;
    color: var(--font-color);
    font-size: 19px;
}
.footer-container__menu li a{
    text-decoration: none;

}

.footer-container__menu a:hover{
    color: #ff5003;
}

.fa-brands{
    border-radius: 20px;
    padding: 8px;
    margin: 0 10px 0 0;
    border: 2px solid black;
    color: #8b8787 ;
}
.fa-brands:hover{
    background-color: #ff5003;
    color: #000000;
}

























































/*@MEDIA QUERY*/



























@media (max-width: 992px){
    body{
        
    }
    header{ 
        height: 1rem;
        outline:2px solid white;
        background-color: #000000;
        z-index: 100;
    }
    
    .container-nav{
        justify-content: space-between;


    }

    
    .container-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 40px;
        list-style: none;
        background-color: #ff5003;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        height: calc(100% - 113px);
        overflow-y:hidden;
        
        top:100%;


        transition: all 1s;
        z-index: 50;

    }
  
    
    .container-img--logo{
        width: 13em;
        padding: 0 2.5rem;
        margin: 0 0 0 2.5rem;
        
    
    }

    
    
    .container-nav__item{
        width: max-content;
        font-family:"nightmare" ;
        font-size: 2.3em;
        padding: 10px 0;        
    }
    .container-nav__a{
        color: aliceblue;
        text-decoration: none;
    
    }
    .container-nav__a:hover{
        color: #ff5003;
    }
    
    
    .content-btn{
        
    }
    
    
    .btn-contacto{
        text-decoration: none;
    
        font-family: 'nightmare';
        font-size: 2.3em;
        padding: .2em .625rem .1em .625rem ;
        color: #ff5003;
    
        border: 2px #ff5003 dashed;
        border-radius: 30px;
    
    }
    .nav-toggle{
    
        margin: 0 2.5rem 0 0 ;

        display: block; 
    }
    
    .nav-menu__visible{
        height: 50rem;
        top: 100%;
        
    }
    
    .main-container{
        position: relative;
        z-index: -2;
    }

}
